html{font-family:sans-serif;}
body{margin:0; padding:0;color: #4f6b72;background: white;}
table{width: 100%;}
tr{width: 100%;}
th{font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	width: auto;
	text-align: center;
	color: #4f6b72;
	border-right: 1px solid #E6EAE9;
	border-bottom: 1px solid #E6EAE9;
	border-top: 1px solid #E6EAE9;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 6px 6px 6px 12px;
	background: #E6EAE9  no-repeat;}
td {
	width: auto;
	/* text-align: center; */
	border-right: 1px solid white;
	border-bottom: 1px solid white;

	
}



.ultlon_td6{
	text-align: left;
	color: red;
}
.ultlon_td7{
	text-align: right;
	color: red;
}
/*.ultlon_td8{
	text-align: center;
	color: red;
}*/
button{
	width: 250px;
	height: 50px;
	border: 1px solid red;
	color: white;
	background-color: red;
		font-size: 30px;
	
}
 .ultlon_button2{
 	width: 250px;
	height: 50px;
 	border: 1px solid darkgrey;
 	background-color: darkgrey;
 	color: white;
 
 }
.ultlon_ldiv{
 background-color: red;
  border-radius:40%;
  width:182px; 
  height: 80px;
  margin: 10px;
  float: left;
  text-align:center;
  line-height:80px;
  border-radius: 50px;
  font-size: 24px; color:white;font-family:Microsoft JhengHei;
}
.ultlon_divT{
  border: 1px solid papayawhip;
  
  border-radius:50%;
  border-radius: 30px;
   margin: 10px;
   float: left;

  
}
.circle{
  background-color: #E6EAE9;
 border-radius: 50px;
  width:90px; 
  height: 90px;
  margin: 10px;
  text-align:center;
  line-height:85px;
  font-size: 16px; font-family:Microsoft JhengHei;
  cursor: pointer;
}

.fu{
	
	margin:100px auto 0; width:30%; 
	
}
.circle1{


 background-color: red;
 border-radius: 50px;
  float: left;
  width:30px; 
  height: 30px;
  margin: 10px;
  text-align:center;
  line-height:30px;
  font-size: 30px; color:white;font-family:Microsoft JhengHei;
}
.ultlon_divqr{
    
    width:auto; 
    float: left;
    margin-left: 10px;
	color: red;
    font-size: 36px;
	text-align:center; 
	
}
.ultlon_div{
	background-color: #959595;
     border-radius:40%;
  width:182px; 
  height: 80px;
  margin: 10px;
  float: left;
  text-align:center;
  line-height:80px;
  border-radius: 50px;
  font-size: 24px; color:white;font-family:Microsoft JhengHei;
}

 td:nth-child(even){text-align:left;}
 td:nth-child(odd){text-align:right;}
 .ultlon_sku_info{border: 1px solid #ccc;}
 .ultlon_sku_info td{text-align:center; }
 
 .ultlon_service td:nth-child(odd){width:20%;}
 .ultlon_service td:nth-child(even){text-align:center;width:60%;  font-size: 22px;}
 
 .no_service{color:#ccc;cursor: none;}
 .ultlon_order_info tr{height:50px;}
