<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.mall.pay.dao.PayDealMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.mall.model.PayDeal" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ORDER_AMOUNT" property="orderAmount" jdbcType="DECIMAL" />
    <result column="DEAL_FEE" property="dealFee" jdbcType="DECIMAL" />
    <result column="DEAL_STATE" property="dealState" jdbcType="VARCHAR" />
    <result column="DEAL_SIGUNRE" property="dealSigunre" jdbcType="VARCHAR" />
    <result column="DEAL_ID" property="dealId" jdbcType="VARCHAR" />
    <result column="DEAL_TYPE" property="dealType" jdbcType="VARCHAR" />
    <result column="PAY_TYPE" property="payType" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="PAYEE" property="payee" jdbcType="VARCHAR" />
    <result column="PAYEE_NO" property="payeeNo" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="BANKCARD_NO" property="bankCardNo" jdbcType="VARCHAR" />
    <result column="BANKCARD_NAME" property="bankCardName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_AMOUNT, DEAL_FEE, DEAL_STATE, DEAL_SIGUNRE, DEAL_ID, DEAL_TYPE, PAY_TYPE, 
    CREATE_TIME, PAYEE, PAYEE_NO,ORDER_ID,BANKCARD_NO,BANKCARD_NAME
  </sql>
  
  <select id="gainPayDealByDealID" resultMap="BaseResultMap" parameterType="Map">
  	select <include refid="Base_Column_List"/> from SJ_TB_PAY_DEAL t WHERE t.DEAL_ID = #{dealId} and t.DEAL_TYPE= #{dealType}
  </select>
  
  <insert id="insertSelective" parameterType="com.sanji.mall.model.PayDeal" >
    insert into SJ_TB_PAY_DEAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderAmount != null" >
        ORDER_AMOUNT,
      </if>
      <if test="dealFee != null" >
        DEAL_FEE,
      </if>
      <if test="dealState != null" >
        DEAL_STATE,
      </if>
      <if test="dealSigunre != null" >
        DEAL_SIGUNRE,
      </if>
      <if test="dealId != null" >
        DEAL_ID,
      </if>
      <if test="dealType != null" >
        DEAL_TYPE,
      </if>
      <if test="payType != null" >
        PAY_TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="payee != null" >
        PAYEE,
      </if>
      <if test="payeeNo != null" >
        PAYEE_NO,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="bankCardNo != null" >
        BANKCARD_NO,
      </if>
      <if test="bankCardName != null" >
        BANKCARD_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="dealFee != null" >
        #{dealFee,jdbcType=DECIMAL},
      </if>
      <if test="dealState != null" >
        #{dealState,jdbcType=VARCHAR},
      </if>
      <if test="dealSigunre != null" >
        #{dealSigunre,jdbcType=VARCHAR},
      </if>
      <if test="dealId != null" >
        #{dealId,jdbcType=VARCHAR},
      </if>
      <if test="dealType != null" >
        #{dealType,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="payee != null" >
        #{payee,jdbcType=VARCHAR},
      </if>
      <if test="payeeNo != null" >
        #{payeeNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNo != null" >
        #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankCardName != null" >
        #{bankCardName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
</mapper>