<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.mall.pay.dao.PayRefundMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.mall.model.PayRefund" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="R0_CMD" property="r0Cmd" jdbcType="VARCHAR" />
    <result column="R1_CODE" property="r1Code" jdbcType="VARCHAR" />
    <result column="R2_TRXID" property="r2Trxid" jdbcType="VARCHAR" />
    <result column="R3_AMT" property="r3Amt" jdbcType="VARCHAR" />
    <result column="R4_CUR" property="r4Cur" jdbcType="VARCHAR" />
    <result column="R5_ORDER" property="r5Order" jdbcType="VARCHAR" />
    <result column="HMAC" property="hmac" jdbcType="VARCHAR" />
    <result column="REFUND_TYPE" property="refundType" jdbcType="VARCHAR" />
    <result column="REFUND_PROVIDER" property="refundProvider" jdbcType="VARCHAR" />
    <result column="IS_EXCEPTION" property="isException" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="EXCEPTION_MSG" property="exceptionMsg" jdbcType="VARCHAR" />
    <result column="RETURN_TIME" property="returnTime" jdbcType="TIMESTAMP" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    ID, R0_CMD, R1_CODE, R2_TRXID, R3_AMT, R4_CUR, R5_ORDER, HMAC, REFUND_TYPE, REFUND_PROVIDER, 
    IS_EXCEPTION, CREATE_TIME,EXCEPTION_MSG,RETURN_TIME,ORDER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_PAY_REFUND
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
 
  <insert id="insertSelective" parameterType="com.sanji.mall.model.PayRefund" >
    insert into SJ_TB_PAY_REFUND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="r0Cmd != null" >
        R0_CMD,
      </if>
      <if test="r1Code != null" >
        R1_CODE,
      </if>
      <if test="r2Trxid != null" >
        R2_TRXID,
      </if>
      <if test="r3Amt != null" >
        R3_AMT,
      </if>
      <if test="r4Cur != null" >
        R4_CUR,
      </if>
      <if test="r5Order != null" >
        R5_ORDER,
      </if>
      <if test="hmac != null" >
        HMAC,
      </if>
      <if test="refundType != null" >
        REFUND_TYPE,
      </if>
      <if test="refundProvider != null" >
        REFUND_PROVIDER,
      </if>
      <if test="isException != null" >
        IS_EXCEPTION,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="exceptionMsg != null" >
        EXCEPTION_MSG,
      </if>
      <if test="returnTime != null" >
        RETURN_TIME,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="r0Cmd != null" >
        #{r0Cmd,jdbcType=VARCHAR},
      </if>
      <if test="r1Code != null" >
        #{r1Code,jdbcType=VARCHAR},
      </if>
      <if test="r2Trxid != null" >
        #{r2Trxid,jdbcType=VARCHAR},
      </if>
      <if test="r3Amt != null" >
        #{r3Amt,jdbcType=VARCHAR},
      </if>
      <if test="r4Cur != null" >
        #{r4Cur,jdbcType=VARCHAR},
      </if>
      <if test="r5Order != null" >
        #{r5Order,jdbcType=VARCHAR},
      </if>
      <if test="hmac != null" >
        #{hmac,jdbcType=VARCHAR},
      </if>
      <if test="refundType != null" >
        #{refundType,jdbcType=VARCHAR},
      </if>
      <if test="refundProvider != null" >
        #{refundProvider,jdbcType=VARCHAR},
      </if>
      <if test="isException != null" >
        #{isException,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exceptionMsg != null" >
        #{exceptionMsg,jdbcType=VARCHAR},
      </if>
      <if test="returnTime != null" >
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>