<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.mall.aftersale.dao.QhFormMapper">
	<resultMap id="BaseResultMap" type="com.sanji.mall.aftersale.model.QhForm">
		<id column="form_id" property="id" jdbcType="VARCHAR" />
		<result column="form_abort_reason" property="abortReason"
			jdbcType="VARCHAR" />
		<result column="form_create_time" property="createTime"
			jdbcType="TIMESTAMP" />
		<result column="form_remark" property="remark" />
		<result column="form_status" property="status" />
		<result column="form_user_name" property="userName" />
		<result column="form_address" property="address" />
		<result column="form_read_user_id" property="readUserId" />
		<result column="form_express_number" property="expressNumber"
			jdbcType="VARCHAR" />
		<collection property="items"
			ofType="com.sanji.mall.aftersale.model.FormItem">
			<id column="item_id" property="id" jdbcType="VARCHAR" />
			<result column="item_name" property="name" jdbcType="VARCHAR" />
			<result column="item_quantity" property="quantity" jdbcType="INTEGER" />
			<result column="item_remark" property="remark" jdbcType="VARCHAR" />
		</collection>
	</resultMap>

	<sql id="Base_Column_List">
		form.id form_id,
		form.create_time form_create_time,
		form.address form_address,
		form.express_number form_express_number,
		form.status form_status,
		form.abort_reason form_abort_reason,
		form.remark form_remark,
		form.read_user_id form_read_user_id,
		item.id item_id,
		item.name item_name,
		item.quantity item_quantity,
		item.remark item_remark
		
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sj_tb_qh_form form
		left join sj_tb_qh_item item on form.id =
		item.form_id
		where form.ID =#{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		sj_tb_qh_form
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insertSelective" parameterType="com.sanji.mall.aftersale.model.QhForm">
		insert into sj_tb_qh_form
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="expressNumber != null">
				express_number,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="abortReason != null">
				abort_reason,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="readUserId != null">
				read_user_id
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="expressNumber != null">
				#{expressNumber},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="abortReason != null">
				#{abortReason},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="userName != null">
				#{user_name},
			</if>
			<if test="readUserId != null">
				#{readUserId}
			</if>

		</trim>
	</insert>

	<insert id="insertItemSelective" parameterType="com.sanji.mall.aftersale.model.FormItem">
		insert into sj_tb_qh_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="quantity != null">
				quantity,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="form != null">
				form_id
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="quantity != null">
				#{quantity},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="form != null">
				#{form.id}
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.sanji.mall.aftersale.model.QhForm">
		update sj_tb_qh_form
		<set>
			<if test="address != null">
				address=#{address},
			</if>
			<if test="expressNumber != null">
				express_number=#{expressNumber},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
			<if test="abortReason != null">
				abort_reason=#{abortReason},
			</if>
			<if test="remark != null">
				remark=#{remark},
			</if>
			<if test="userName != null">
				user_name=#{userName},
			</if>
			<if test="readUserId != null">
				read_user_id=#{readUserId}
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>