<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.mall.aftersale.dao.ThFormMapper">
	<resultMap id="BaseResultMap" type="com.sanji.mall.aftersale.model.ThForm">
		<id column="form_id" property="id" jdbcType="VARCHAR" />
		<result column="form_abort_reason" property="abortReason" jdbcType="VARCHAR" />
		<result column="form_create_time" property="createTime"	jdbcType="TIMESTAMP" />
		<result column="form_remark" property="remark" />
		<result column="form_status" property="status" />
		<result column="form_money" property="money" />
		<result column="form_read_user_id" property="readUserId" />
		<result column="form_express_number" property="expressNumber" />
		<result column="form_order_id" property="order.id" jdbcType="VARCHAR" />
		<association property="qhForm" column="form_qh_form_id" 
			select="com.sanji.mall.aftersale.dao.QhFormMapper.selectByPrimaryKey">
		</association>
		<collection property="items"
			ofType="com.sanji.mall.aftersale.model.FormItem">
			<id column="item_id" property="id" jdbcType="VARCHAR" />
			<result column="item_name" property="name" jdbcType="VARCHAR" />
			<result column="item_quantity" property="quantity" jdbcType="INTEGER" />
			<result column="item_remark" property="remark" jdbcType="VARCHAR" />
			<result column="item_price" property="price" jdbcType="VARCHAR" />
			<association property="orderItems" column="item_order_items_id" 
				select="com.sanji.mall.order.dao.OrderItemsMapper.selectByPrimaryKey">
			</association>
		</collection>
	</resultMap>

	<sql id="Base_Column_List">
		form.id form_id,
		form.create_time form_create_time,
		form.money form_money,
		form.status form_status,
		form.abort_reason
		form_abort_reason,
		form.remark form_remark,
		form.order_id form_order_id,
		form.read_user_id form_read_user_id,
		form.qh_form_id form_qh_form_id,
		form.express_number form_express_number,
		item.id item_id,
		item.name item_name,
		item.quantity item_quantity,
		item.remark item_remark,
		item.order_items_id item_order_items_id ,
		item.price item_price
	</sql>
	
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sj_tb_th_form form
		left join sj_tb_th_item item on form.id =
		item.form_id
		where form.ID =#{id,jdbcType=VARCHAR}
	</select>
	
	<!-- 获得退款退货记录 -->
	<sql id="gainThRecord">
		select
		<include refid="Base_Column_List" />
		from sj_tb_th_form form
		left join sj_tb_th_item item on form.id = item.form_id
		where form.ORDER_ID =#{oid,jdbcType=VARCHAR}
	</sql>
	
	<!-- 根据订单Id获取退款退货详情 -->
	<select id="selectByOid" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" /> 
		from sj_tb_th_form form
		left join sj_tb_th_item item on form.id = item.form_id
		where form.ORDER_ID =#{orderId,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据订单Id和 订单详情id 获得所有退款退货记录 -->
	<select id="selectByOidAdOitemId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sj_tb_th_form form
		left join sj_tb_th_item item on form.id =item.form_id
		where item.ORDER_ITEMS_ID = #{oItemsId,jdbcType=VARCHAR}
		order by form.CREATE_TIME DESC
	</select>
	
	<!-- 根据订单Id和 订单详情id 获得未完成的退款退货记录 -->
	<select id="selectUnfinished" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sj_tb_th_form form
		left join sj_tb_th_item item on form.id =item.form_id
		where item.ORDER_ITEMS_ID = #{oItemsId,jdbcType=VARCHAR} and form.STATUS not in('ABORT','COMPLETE')
		order by form.CREATE_TIME DESC
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		sj_tb_th_form
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insertSelective" parameterType="com.sanji.mall.aftersale.model.ThForm">
		insert into sj_tb_th_form
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="money != null">
				money,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="abortReason != null">
				abort_reason,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="order != null">
				order_id,
			</if>
			<if test="expressNumber != null">
				express_number,
			</if>
			<if test="readUserId != null">
				read_user_id
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="money != null">
				#{money},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="abortReason != null">
				#{abortReason},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="order != null">
				#{order.id},
			</if>
			<if test="expressNumber != null">
				express_number=#{expressNumber},
			</if>
			<if test="readUserId != null">
				#{readUserId}
			</if>

		</trim>
	</insert>

	<insert id="insertItemSelective" parameterType="com.sanji.mall.aftersale.model.FormItem">
		insert into sj_tb_th_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="quantity != null">
				quantity,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="form != null">
				form_id,
			</if>
			<if test="orderItems != null">
				ORDER_ITEMS_ID
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="quantity != null">
				#{quantity},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="form != null">
				#{form.id},
			</if>
			<if test="orderItems != null">
				#{orderItems.id}
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.sanji.mall.aftersale.model.ThForm">
		update sj_tb_th_form
		<set>
			<if test="money != null">
				money=#{money},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
			<if test="abortReason != null">
				abort_reason=#{abortReason},
			</if>
			<if test="remark != null">
				remark=#{remark},
			</if>
			<if test="expressNumber != null">
				express_number=#{expressNumber},
			</if>
			<if test="order != null">
				order_id=#{order.id}
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>