<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.mall.appliedreg.dao.AppliedRegMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.mall.model.AppliedReg" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="AREA" property="area" jdbcType="VARCHAR" />
    <result column="TOWN" property="town" jdbcType="VARCHAR" />
    <result column="SHOP_NAME" property="shopName" jdbcType="VARCHAR" />
    <result column="TRUE_NAME" property="trueName" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="APPLY_TIME" jdbcType="DATE" property="applyTime" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PROVINCE, CITY, AREA, TOWN, SHOP_NAME, TRUE_NAME, MOBILE, APPLY_TIME, ADDRESS
  </sql>
  <select id="gainAppliedRegAddress" resultType="java.lang.String"
	parameterType="java.lang.String">
	select
	bb.name || cc.name || dd.name || ar.ADDRESS as address
	from SJ_TB_APPLIEDREG ar
	left join sj_tb_regions aa on ar.province = aa.id
	          left join sj_tb_regions bb on ar.city = bb.id
	          left join sj_tb_regions cc on ar.area = cc.id
	          left join sj_tb_regions dd on ar.town = dd.id
	where MOBILE = #{mobile,jdbcType=VARCHAR}
</select>
  <select id="gainAppliedRegByMobile" resultType="java.lang.Long" parameterType="java.lang.String" >
    select 
    count(ID)
    from SJ_TB_APPLIEDREG
    where MOBILE = #{mobile,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_APPLIEDREG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SJ_TB_APPLIEDREG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sanji.mall.model.AppliedReg" >
    insert into SJ_TB_APPLIEDREG (ID, PROVINCE, CITY, 
      AREA, TOWN, SHOP_NAME, 
      TRUE_NAME, MOBILE, APPLY_TIME, ADDRESS)
    values (#{id,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, 
      #{trueName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{applyTime,jdbcType=DATE}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanji.mall.model.AppliedReg" >
    insert into SJ_TB_APPLIEDREG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="area != null" >
        AREA,
      </if>
      <if test="town != null" >
        TOWN,
      </if>
      <if test="shopName != null" >
        SHOP_NAME,
      </if>
      <if test="trueName != null" >
        TRUE_NAME,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="applyTime != null" >
        APPLY_TIME,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="town != null" >
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=DATE},
      </if>
       <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanji.mall.model.AppliedReg" >
    update SJ_TB_APPLIEDREG
    <set >
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        AREA = #{area,jdbcType=VARCHAR},
      </if>
      <if test="town != null" >
        TOWN = #{town,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        TRUE_NAME = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        APPLY_TIME,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanji.mall.model.AppliedReg" >
    update SJ_TB_APPLIEDREG
    set PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      AREA = #{area,jdbcType=VARCHAR},
      TOWN = #{town,jdbcType=VARCHAR},
      SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      TRUE_NAME = #{trueName,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      APPLY_TIME = #{applyTime,jdbcType=DATE},
      ADDRESS = #{address,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>