<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanji.mall.order.dao.EvaluateMapper">
  <resultMap id="BaseResultMap" type="com.sanji.mall.model.Evaluate">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TARGET_ID" jdbcType="VARCHAR" property="targetId" />
    <result column="TARGET_TYPE" jdbcType="VARCHAR" property="targetType" />
    <result column="ORDER_ITEMS_ID" jdbcType="VARCHAR" property="orderItemsId" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="TOTALITY" jdbcType="DECIMAL" property="totality" />
    <result column="DESC_MATCH" jdbcType="DECIMAL" property="descMatch" />
    <result column="LOGISTICS" jdbcType="DECIMAL" property="logistics" />
    <result column="CLERK_MANNER" jdbcType="DECIMAL" property="clerkManner" />
    <result column="SEND_MANNER" jdbcType="DECIMAL" property="sendManner" />
    <result column="SINCERITY" jdbcType="DECIMAL" property="sincerity" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
  </resultMap>
  
  
  <!-- 订单相关信息 -->  
  <resultMap type="com.sanji.mall.model.Evaluate" id="evaluateMap" extends="BaseResultMap">
  
  <!-- 评论对应的用户信息 -->
  	<collection property="members" ofType="com.sanji.mall.model.Members"  >
  		<result column="m_username" property="username" jdbcType="VARCHAR" />
  	</collection>
  
 	<!-- 订单详情 -->
 	<collection property="orderItemss" ofType="com.sanji.mall.model.OrderItems"  >
 		<id column="items_ID" property="id" jdbcType="VARCHAR" />
	    <result column="ITEMS_NUMS" property="nums" jdbcType="DECIMAL" />
	    <result column="ITEMS_ROOT_NUM" property="rootNum" jdbcType="DECIMAL" />
	    <!-- 订单关联的单品信息 --> 
	    <collection property="goodsSku" ofType="com.sanji.mall.model.GoodsSku"  >
	    	<id column="sku_id" property="id" jdbcType="VARCHAR" />
	  		<result column="sku_num" property="skuNum" jdbcType="VARCHAR" />
	  		<result column="sku_edition" property="edition" jdbcType="NUMERIC" />
	  		<result column="sku_standard" property="standard" jdbcType="VARCHAR" />
	  		<result column="sku_netSuitType" property="netSuitType" jdbcType="VARCHAR" />
	  		<collection property="goods" javaType="com.sanji.mall.model.Goods" >
			  	<id column="GOODS_ID" jdbcType="VARCHAR" property="id" />
			    <result column="GOODS_NAME" jdbcType="VARCHAR" property="name" />
			    <result column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum" />
			    <result column="goods_DEFAULT_IMG" jdbcType="VARCHAR" property="defaultImg" />
			    <!-- 品牌信息 -->
			  	<collection property="brand"  ofType="com.sanji.mall.model.Brand">
			  		<id column="gb_id" property="id" jdbcType="VARCHAR" /> 
			  		<result column="gb_name" property="name" jdbcType="VARCHAR" />
			  	</collection> 
		  	</collection>
		  	<!-- 单品颜色 -->
		  	<collection property="color"  ofType="com.sanji.mall.model.Color">
		  		<id column="gc_id" property="id" jdbcType="DECIMAL" />
			    <result column="gc_color_name" property="colorName" jdbcType="VARCHAR" />
		  	</collection>
	    </collection>
	    
	    <!-- 订单关联的配件信息 -->
	    <collection property="accessory" ofType="com.sanji.mall.model.Accessory" >
	    	<id column="acs_ID" property="id" jdbcType="VARCHAR" />
			<result column="acs_NAME" property="name" jdbcType="VARCHAR" />
			<result column="acs_ACCESSORIES_NUM" property="accessoriesNum" jdbcType="VARCHAR" />
			<result column="acs_DEFAULT_IMG" property="defaultImg" jdbcType="VARCHAR" />
			<result column="acs_STYLES" property="styles" jdbcType="VARCHAR" />
			<result column="acs_ACCESSORIES_STYLE" property="accessoriesStyle" jdbcType="VARCHAR" />
			<result column="acs_STOCK" property="stock" jdbcType="DECIMAL" />
	    	<!-- 单品颜色 -->
		  	<collection property="color"  ofType="com.sanji.mall.model.Color">
		  		<id column="ac_id" property="id" jdbcType="DECIMAL" />
			    <result column="ac_color_name" property="colorName" jdbcType="VARCHAR" />
		  	</collection>
		  	<!-- 品牌信息 --> 
		  	<collection property="brand"  ofType="com.sanji.mall.model.Brand">
		  		<id column="ab_id" property="id" jdbcType="VARCHAR" /> 
		  		<result column="ab_name" property="name" jdbcType="VARCHAR" />
		  	</collection>
	    </collection> 
 	</collection> 
  </resultMap>
  
   
  <sql id="Base_Column_List">
  	e.ID,e.TARGET_ID,e.TARGET_TYPE,e.ORDER_ID,e.TOTALITY,e.DESC_MATCH,e.LOGISTICS,
  	e.CLERK_MANNER,e.SEND_MANNER,e.SINCERITY,e.CONTENT,e.CREATETIME,
  	i.ID items_id, i.NUMS items_nums, i.ROOT_NUM items_ROOT_NUM,
  	g.name goods_name, g.id goods_id,g.DEFAULT_IMG goods_DEFAULT_IMG, g.GOODS_NUM GOODS_NUM,
  	s.id sku_id,s.SKU_NUM sku_num,s.edition sku_edition,s.standard sku_standard,s.net_Suit_Type sku_netSuitType, 
  	m.username m_username,
  	gb.Id gb_id,gb.Name gb_name, 
  	gc.id gc_id, gc.color_Name gc_color_name, 
  	a.id acs_ID,a.name acs_NAME,a.accessories_Num acs_ACCESSORIES_NUM,a.default_Img acs_DEFAULT_IMG,a.styles acs_STYLES, 
  	a.accessories_Style acs_ACCESSORIES_STYLE,a.stock acs_STOCK,
  	ac.id ac_id,ac.color_Name ac_color_name, 
  	ab.id ab_id,ab.name ab_name
  </sql> 
  
  <sql id="Base_Column_List_page">
  	ID,TARGET_ID,TARGET_TYPE,ORDER_ID,TOTALITY,DESC_MATCH,LOGISTICS,
  	CLERK_MANNER,SEND_MANNER,SINCERITY,CONTENT,CREATETIME,
  	items_id, items_nums, items_ROOT_NUM,
  	goods_name, goods_id, goods_DEFAULT_IMG, GOODS_NUM,
  	sku_id, sku_num, sku_edition, sku_standard, sku_netSuitType, 
  	m_username,
  	gb_id,gb_name, 
  	gc_id,gc_color_name, 
  	acs_ID,acs_NAME,acs_ACCESSORIES_NUM,acs_DEFAULT_IMG,acs_STYLES, 
  	acs_ACCESSORIES_STYLE,acs_STOCK,
  	ac_id,ac_color_name, 
  	ab_id,ab_name
  </sql>
  
  <sql id="gainEvaluate_base_sql">
  	select <include refid="Base_Column_List" /> from sj_tb_evaluate e
	left join sj_tb_order o on e.order_id=o.id
	left join sj_tb_order_items i on o.id=i.order_id
	left join sj_tb_goods_sku s on i.target_id=s.id
	left join sj_tb_goods g on s.goods_id = g.id
	left join sj_tb_brand gb on g.brand_id = gb.id
	left join sj_tb_color gc on s.color_id = gc.id
	left join sj_tb_accessories a on i.target_id=a.id
	left join sj_tb_brand ab on a.brand_id = ab.id
	left join sj_tb_color ac on a.color_id = ac.id
	left join sj_tb_members m on e.MEMBER_ID = m.id
	where  1=1 
	
	<if test="userId!=null and userId!=''">
		and e.member_id=#{userId,jdbcType=VARCHAR}
	</if>
	
	<!-- 判断是否根据商品id获取评论,如果传入的类型为空那么就查询所有按时间排序 -->
	<if test="targetType!=null and targetType!=''">
		<!-- 查询goods的评价 -->
		<if test="targetType=='goods'">
			and g.id=#{targetId,jdbcType=VARCHAR}
		</if>
		<!-- 查询某配件的评价 -->
		<if test="targetType=='acs'">
			and a.id=#{targetId,jdbcType=VARCHAR}
		</if> 
  	</if>
  	<choose>
       <when test="sort != null &amp;&amp; sort != '' ">
          order by e.${sort} ${order}
       </when>
       <otherwise>
           order by e.CREATETIME desc
       </otherwise>
    </choose>
  </sql>
  
  
  
 <!-- 根据商品查询评论列表-->
  <select id="gainEvaluate" resultMap="evaluateMap" parameterType="java.util.Map" >
  	select <include refid="Base_Column_List_page" /> from (
  		select RN,<include refid="Base_Column_List_page" /> from (
  			select ROWNUM AS RN,<include refid="Base_Column_List_page" /> from(
			    <include refid="gainEvaluate_base_sql" />
			)
  		)where <![CDATA[RN <= #{page}*#{rows}]]>
  	) where  RN>(#{page}-1)*#{rows}
  </select>
  
  <!-- 统计数量 -->
  <select id="gainCountNum" resultType="java.lang.String" parameterType="java.util.Map" >
  	select count(1) from (
  		select id from (
	  		<include refid="gainEvaluate_base_sql" />
	  	)
  	)
  </select>
  
  
  
  
  <insert id="insert" parameterType="com.sanji.mall.model.Evaluate">
    insert into SJ_TB_EVALUATE (ID, TARGET_ID, TARGET_TYPE, 
      ORDER_ITEMS_ID, MEMBER_ID, TOTALITY, 
      DESC_MATCH, LOGISTICS, CLERK_MANNER, 
      SEND_MANNER, SINCERITY, CONTENT, 
      CREATETIME, ORDER_ID)
    values (#{id,jdbcType=VARCHAR}, #{targetId,jdbcType=VARCHAR}, #{targetType,jdbcType=VARCHAR}, 
      #{orderItemsId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{totality,jdbcType=DECIMAL}, 
      #{descMatch,jdbcType=DECIMAL}, #{logistics,jdbcType=DECIMAL}, #{clerkManner,jdbcType=DECIMAL}, 
      #{sendManner,jdbcType=DECIMAL}, #{sincerity,jdbcType=DECIMAL}, #{content,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanji.mall.model.Evaluate">
    insert into SJ_TB_EVALUATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="targetId != null">
        TARGET_ID,
      </if>
      <if test="targetType != null">
        TARGET_TYPE,
      </if>
      <if test="orderItemsId != null">
        ORDER_ITEMS_ID,
      </if>
      <if test="memberId != null">
        MEMBER_ID,
      </if>
      <if test="totality != null">
        TOTALITY,
      </if>
      <if test="descMatch != null">
        DESC_MATCH,
      </if>
      <if test="logistics != null">
        LOGISTICS,
      </if>
      <if test="clerkManner != null">
        CLERK_MANNER,
      </if>
      <if test="sendManner != null">
        SEND_MANNER,
      </if>
      <if test="sincerity != null">
        SINCERITY,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="targetType != null">
        #{targetType,jdbcType=VARCHAR},
      </if>
      <if test="orderItemsId != null">
        #{orderItemsId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="totality != null">
        #{totality,jdbcType=DECIMAL},
      </if>
      <if test="descMatch != null">
        #{descMatch,jdbcType=DECIMAL},
      </if>
      <if test="logistics != null">
        #{logistics,jdbcType=DECIMAL},
      </if>
      <if test="clerkManner != null">
        #{clerkManner,jdbcType=DECIMAL},
      </if>
      <if test="sendManner != null">
        #{sendManner,jdbcType=DECIMAL},
      </if>
      <if test="sincerity != null">
        #{sincerity,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>