<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.mall.order.dao.DlyCorpMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.mall.model.DlyCorp" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="DISABLE" property="disable" jdbcType="VARCHAR" />
    <result column="ORDERNUM" property="ordernum" jdbcType="DECIMAL" />
    <result column="WEBSITE" property="website" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, TYPE, DISABLE, ORDERNUM, WEBSITE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_DLY_CORP
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 获取所有快递公司信息列表 -->
  <select id="gainAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_DLY_CORP
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SJ_TB_DLY_CORP
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sanji.mall.model.DlyCorp" >
    insert into SJ_TB_DLY_CORP (ID, NAME, TYPE, 
      DISABLE, ORDERNUM, WEBSITE
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{disable,jdbcType=VARCHAR}, #{ordernum,jdbcType=DECIMAL}, #{website,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanji.mall.model.DlyCorp" >
    insert into SJ_TB_DLY_CORP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="disable != null" >
        DISABLE,
      </if>
      <if test="ordernum != null" >
        ORDERNUM,
      </if>
      <if test="website != null" >
        WEBSITE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="disable != null" >
        #{disable,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanji.mall.model.DlyCorp" >
    update SJ_TB_DLY_CORP
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="disable != null" >
        DISABLE = #{disable,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="website != null" >
        WEBSITE = #{website,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanji.mall.model.DlyCorp" >
    update SJ_TB_DLY_CORP
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      DISABLE = #{disable,jdbcType=VARCHAR},
      ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      WEBSITE = #{website,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>