<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.mall.goods.dao.GoodsHotMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.mall.model.GoodsHot" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TARGET_ID" property="targetId" jdbcType="VARCHAR" />
    <result column="GOODS_TYPE" property="goodsType" jdbcType="VARCHAR" />
    <result column="NUM" property="num" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="DATE" />
    <result column="HOT_TYPE" property="hotType" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="VARCHAR" />
     <result column="GOODS_NUM"  property="goodsNum" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TARGET_ID, GOODS_TYPE, NUM, USER_ID, CREATE_TIME, MODIFY_TIME, HOT_TYPE
  </sql>
  <!-- 获取HOT_TYPE为电信3g的热销排行 列表-->
  <select id="gainGoodHotTopByDx3G" resultMap="BaseResultMap" parameterType="com.sanji.mall.model.GoodsHot">
    select * from (  
  	  select ROWNUM AS RN,t.* from (  
  		 select g.GOODS_NUM as goodsNum, g.name as name,s.price as price from sj_tb_goods_hot h right join sj_tb_goods_sku s  on h.target_id = s.id left join sj_tb_goods g on s.goods_id = g.id left join sj_tb_cat cat on g.cat_id = cat.id
  		  where 1=1  and h.GOODS_TYPE = 'sku' and h.HOT_TYPE = 'dx3G'
  		
 	)t ) where <![CDATA[RN <= 7]]>
  </select>
  <!-- 获取HOT_TYPE为移动3g的热销排行 列表-->
  <select id="gainGoodHotTopByYd3G" resultMap="BaseResultMap" parameterType="com.sanji.mall.model.GoodsHot">
    select * from (  
  	  select ROWNUM AS RN,t.* from (  
  		 select g.GOODS_NUM as goodsNum, g.name as name,s.price as price from sj_tb_goods_hot h right join sj_tb_goods_sku s  on h.target_id = s.id left join sj_tb_goods g on s.goods_id = g.id left join sj_tb_cat cat on g.cat_id = cat.id
  		  where 1=1  and h.GOODS_TYPE = 'sku' and h.HOT_TYPE = 'yd3G'
  		
 	)t ) where <![CDATA[RN <= 7]]>
  </select>
  <!-- 获取HOT_TYPE为联通3g的热销排行 列表-->
  <select id="gainGoodHotTopByLt3G" resultMap="BaseResultMap" parameterType="com.sanji.mall.model.GoodsHot">
    select * from (  
  	  select ROWNUM AS RN,t.* from (  
  		 select g.GOODS_NUM as goodsNum, g.name as name,s.price as price from sj_tb_goods_hot h right join sj_tb_goods_sku s  on h.target_id = s.id left join sj_tb_goods g on s.goods_id = g.id left join sj_tb_cat cat on g.cat_id = cat.id
  		  where 1=1  and h.GOODS_TYPE = 'sku' and h.HOT_TYPE = 'lt3G'
  		
 	)t ) where <![CDATA[RN <= 7]]>
  </select>
  <!-- 获取HOT_TYPE为4g的热销排行 列表-->
  <select id="gainGoodHotTopBy4G" resultMap="BaseResultMap" parameterType="com.sanji.mall.model.GoodsHot">
    select * from (  
  	  select ROWNUM AS RN,t.* from (  
  		 select g.GOODS_NUM as goodsNum, g.name as name,s.price as price from sj_tb_goods_hot h right join sj_tb_goods_sku s  on h.target_id = s.id left join sj_tb_goods g on s.goods_id = g.id left join sj_tb_cat cat on g.cat_id = cat.id
  		  where 1=1  and h.GOODS_TYPE = 'sku' and h.HOT_TYPE = '4G'
  		
 	)t ) where <![CDATA[RN <= 7]]>
  </select>
   <!-- 获取HOT_TYPE为品牌的热销排行列表 -->
  <select id="gainGoodHotTopByBrand" resultMap="BaseResultMap" parameterType="com.sanji.mall.model.GoodsHot">
    select * from (  
  	  select ROWNUM AS RN,t.* from (  
  		 select g.GOODS_NUM as goodsNum, g.name as name,s.price as price from sj_tb_goods_hot h right join sj_tb_goods_sku s  on h.target_id = s.id left join sj_tb_goods g on s.goods_id = g.id left join sj_tb_cat cat on g.cat_id = cat.id
  		  where 1=1 and h.GOODS_TYPE = 'sku'  and h.HOT_TYPE = 'brand'
  		
 	)t ) where <![CDATA[RN <= 7]]>
  </select>
  <!-- 获取手机热销排行列表 -->
  <select id="gainGoodHotTopByPhone" resultMap="BaseResultMap" parameterType="com.sanji.mall.model.GoodsHot">
    select * from (  
  	  select ROWNUM AS RN,t.* from (  
  		 select g.GOODS_NUM as goodsNum, g.name as name,s.price as price from sj_tb_goods_hot h right join sj_tb_goods_sku s  on h.target_id = s.id left join sj_tb_goods g on s.goods_id = g.id left join sj_tb_cat cat on g.cat_id = cat.id
  		  where 1=1  and h.GOODS_TYPE = 'sku' and h.HOT_TYPE = 'week'
  		
 	)t ) where <![CDATA[RN <= 7]]>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_GOODS_HOT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SJ_TB_GOODS_HOT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sanji.mall.model.GoodsHot" >
    insert into SJ_TB_GOODS_HOT (ID, TARGET_ID, GOODS_TYPE, 
      NUM, USER_ID, CREATE_TIME, 
      MODIFY_TIME, HOT_TYPE)
    values (#{id,jdbcType=VARCHAR}, #{targetId,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, 
      #{num,jdbcType=DECIMAL}, #{userId,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{modifyTime,jdbcType=DATE}, #{hotType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanji.mall.model.GoodsHot" >
    insert into SJ_TB_GOODS_HOT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="targetId != null" >
        TARGET_ID,
      </if>
      <if test="goodsType != null" >
        GOODS_TYPE,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="hotType != null" >
        HOT_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=DATE},
      </if>
      <if test="hotType != null" >
        #{hotType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanji.mall.model.GoodsHot" >
    update SJ_TB_GOODS_HOT
    <set >
      <if test="targetId != null" >
        TARGET_ID = #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=DATE},
      </if>
      <if test="hotType != null" >
        HOT_TYPE = #{hotType,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanji.mall.model.GoodsHot" >
    update SJ_TB_GOODS_HOT
    set TARGET_ID = #{targetId,jdbcType=VARCHAR},
      GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      NUM = #{num,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      MODIFY_TIME = #{modifyTime,jdbcType=DATE},
      HOT_TYPE = #{hotType,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="gainHotByType" resultMap="BaseResultMap" parameterType="com.sanji.mall.model.GoodsHot">
  select * from (  
   select rownum as RM, <include refid="Base_Column_List" />
    from sj_tb_goods_hot h where h.goods_type = #{goodsType} and h.hot_type = #{hotType} order by h.num) g where g.RM <![CDATA[ <= #{num} ]]>
  </select>
</mapper>