<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanji.mall.regions.dao.RegionsMapper">
  <resultMap id="BaseResultMap" type="com.sanji.mall.model.Regions">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PID" jdbcType="VARCHAR" property="pid" />
    <result column="PTREE" jdbcType="VARCHAR" property="ptree" />
    <result column="GRADE" jdbcType="DECIMAL" property="grade" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DISABLED" jdbcType="VARCHAR" property="disabled" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PID, PTREE, GRADE, NAME, DISABLED
  </sql>
    <!-- 获取地区 -->
  	<select id="gainArea" resultMap="BaseResultMap" parameterType="java.lang.String">
  		select id,name from SJ_TB_REGIONS where  pid = #{id,jdbcType=VARCHAR} order by id
  	</select>
  <!-- 获取市 -->
  	<select id="gainCity" resultMap="BaseResultMap" parameterType="java.lang.String">
  		select id,name from SJ_TB_REGIONS where  pid = #{id,jdbcType=VARCHAR} order by id
  	</select>
  	 <!-- 获取乡镇街道 -->
  	<select id="gainTown" resultMap="BaseResultMap" parameterType="java.lang.String">
  		select id,name from SJ_TB_REGIONS where  pid = #{id,jdbcType=VARCHAR} order by id
  	</select>
  	<!-- 根据省份id查询其市列表   周张豹-->
  <select id="gainCityListByPid" resultMap="BaseResultMap" parameterType="String">
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_REGIONS
    where PID = #{pid,jdbcType=VARCHAR} and GRADE = 2
  </select>
  <!-- 根据市id查询其区列表     周张豹-->
  <select id="gainAreaListByCityId" resultMap="BaseResultMap" parameterType="String">
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_REGIONS
    where PID = #{pid,jdbcType=VARCHAR} and GRADE = 3
  </select>
  
  <!-- 获取省 -->
  <select id="gainProvince" resultMap="BaseResultMap" parameterType="com.sanji.mall.model.Regions">
  		select id, name from SJ_TB_REGIONS where pid is null order by id 
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_REGIONS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SJ_TB_REGIONS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sanji.mall.model.Regions">
    insert into SJ_TB_REGIONS (ID, PID, PTREE, 
      GRADE, NAME, DISABLED
      )
    values (#{id,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{ptree,jdbcType=VARCHAR}, 
      #{grade,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{disabled,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanji.mall.model.Regions">
    insert into SJ_TB_REGIONS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="ptree != null">
        PTREE,
      </if>
      <if test="grade != null">
        GRADE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="disabled != null">
        DISABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="ptree != null">
        #{ptree,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanji.mall.model.Regions">
    update SJ_TB_REGIONS
    <set>
      <if test="pid != null">
        PID = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="ptree != null">
        PTREE = #{ptree,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        GRADE = #{grade,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        DISABLED = #{disabled,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanji.mall.model.Regions">
    update SJ_TB_REGIONS
    set PID = #{pid,jdbcType=VARCHAR},
      PTREE = #{ptree,jdbcType=VARCHAR},
      GRADE = #{grade,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      DISABLED = #{disabled,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>