<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.mall.msg.dao.MessageRecordMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.mall.model.MessageRecord" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MOBILES" property="mobiles" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="CRATETIME" property="cratetime" jdbcType="TIMESTAMP" />
    <result column="RESPTIME" property="resptime" jdbcType="VARCHAR" />
    <result column="RESPTATUS" property="resptatus" jdbcType="VARCHAR" />
    <result column="MSGID" property="msgid" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, MOBILES, CONTENT, CRATETIME, RESPTIME, RESPTATUS, MSGID
  </sql>
  
  
  <insert id="insertSelective" parameterType="com.sanji.mall.model.MessageRecord" >
    insert into SJ_TB_MESSAGE_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mobiles != null" >
        MOBILES,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="cratetime != null" >
        CRATETIME,
      </if>
      <if test="resptime != null" >
        RESPTIME,
      </if>
      <if test="resptatus != null" >
        RESPTATUS,
      </if>
      <if test="msgid != null" >
        MSGID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mobiles != null" >
        #{mobiles,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="cratetime != null" >
        #{cratetime,jdbcType=DATE},
      </if>
      <if test="resptime != null" >
        #{resptime,jdbcType=VARCHAR},
      </if>
      <if test="resptatus != null" >
        #{resptatus,jdbcType=VARCHAR},
      </if>
      <if test="msgid != null" >
        #{msgid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
</mapper>