/*reset*/
body,h1,span,h3,h4,h5,h6,blockquote,p,pre,dl,dd,menu,ol,ul,caption,th,td,form,fieldset,legend,input,button,textarea,address{margin:0;padding:0}
h1,span,h3,h4,h5,h6{font-size:100%}
menu,ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;font-size:inherit}
fieldset,img{border:0}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
input,button,textarea,select{font-size:100%}
abbr[title]{border-bottom:1px dotted;cursor:help}a{text-decoration:none}
body,input,button,textarea,select,option,optgroup{font:12px arial}
html,body{width:100%;height:100%;font-family:"微软雅黑","宋体","黑体",Arial;}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
/*banner*/
.focus{height:335px;position:relative;}
.xmSlide{background-color:#fff;}
.xmSlide_01{height:335px;background:url(../images/focus01.jpg) no-repeat center center;}
.xmSlide_02{height:335px;background:url(../images/focus02.jpg) no-repeat center center;}
.xmSlide_03{height:335px;background:url(../images/focus03.jpg) no-repeat center center;}
.xmSlide-pagination{position:absolute;text-align:center;bottom:12px; left:290px;z-index:9999;}
.xmSlide-pagination li{display:inline-block;width:12px;height:12px;margin-left:15px;}
.xmSlide-pagination li a{color:#444;display:inline-block;width:12px;height:12px;background-color:#444;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;overflow:hidden;}
.xmSlide-pagination li a.active{background-color:#f30;color:#f30;}
.xmSlide-control{overflow:hidden;}

