<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanji.mall.point.dao.PointGoodsMapper">
	<resultMap id="BaseResultMap" type="com.sanji.mall.model.PointGoods">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="type" property="type"/>
		<result column="PRICE" jdbcType="DECIMAL" property="price" />
		<result column="INTEGRAL" jdbcType="DECIMAL" property="integral" />
		<result column="STOCK" jdbcType="DECIMAL" property="stock" />
		<result column="ISSHELVES" jdbcType="VARCHAR" property="isshelves" />
		<result column="PIC" jdbcType="VARCHAR" property="pic" />
		<result column="INTEGRAL_CODE" jdbcType="VARCHAR" property="integralCode" />
		<result column="SPEC_CODE" jdbcType="VARCHAR" property="specCode" />
		
	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME, PRICE, INTEGRAL, STOCK, ISSHELVES, PIC,type,INTEGRAL_CODE,SPEC_CODE
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from SJ_TB_INTEGRAL_GOODS
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="selectAllByType" resultMap="BaseResultMap">
		select *
		from(select t.*,rownum rn from(
		select
		<include refid="Base_Column_List" />
		from SJ_TB_INTEGRAL_GOODS
		where type like #{type,jdbcType=VARCHAR}
		and ISSHELVES='true' and STOCK>0
		)
		t where rownum &lt; #{end})
		where rn &gt; #{start}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		SJ_TB_INTEGRAL_GOODS
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.sanji.mall.model.PointGoods">
		insert into
		SJ_TB_INTEGRAL_GOODS (ID, NAME, PRICE,
		INTEGRAL, STOCK, ISSHELVES,
		PIC,INTEGRAL_CODE,SPEC_CODE)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{price,jdbcType=DECIMAL},
		#{integral,jdbcType=DECIMAL},
		#{stock,jdbcType=DECIMAL}, #{isshelves,jdbcType=VARCHAR},
		#{pic,jdbcType=VARCHAR},#{integralCode,jdbcType=VARCHAR},#{specCode,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.sanji.mall.model.PointGoods">
		insert into SJ_TB_INTEGRAL_GOODS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="price != null">
				PRICE,
			</if>
			<if test="integral != null">
				INTEGRAL,
			</if>
			<if test="stock != null">
				STOCK,
			</if>
			<if test="isshelves != null">
				ISSHELVES,
			</if>
			<if test="pic != null">
				PIC,
			</if>
			<if test="integralCode != null">
				INTEGRAL_CODE,
			</if>
			<if test="specCode != null">
				SPEC_CODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="integral != null">
				#{integral,jdbcType=DECIMAL},
			</if>
			<if test="stock != null">
				#{stock,jdbcType=DECIMAL},
			</if>
			<if test="isshelves != null">
				#{isshelves,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				#{pic,jdbcType=VARCHAR},
			</if>
			<if test="integralCode != null">
				#{integralCode,jdbcType=VARCHAR},
			</if>
			<if test="specCode != null">
				#{specCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sanji.mall.model.PointGoods">
		update SJ_TB_INTEGRAL_GOODS
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				PRICE = #{price,jdbcType=DECIMAL},
			</if>
			<if test="integral != null">
				INTEGRAL = #{integral,jdbcType=DECIMAL},
			</if>
			<if test="stock != null">
				STOCK = #{stock,jdbcType=DECIMAL},
			</if>
			<if test="isshelves != null">
				ISSHELVES = #{isshelves,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				PIC = #{pic,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sanji.mall.model.PointGoods">
		update
		SJ_TB_INTEGRAL_GOODS
		set NAME = #{name,jdbcType=VARCHAR},
		PRICE =
		#{price,jdbcType=DECIMAL},
		INTEGRAL = #{integral,jdbcType=DECIMAL},
		STOCK = #{stock,jdbcType=DECIMAL},
		ISSHELVES =
		#{isshelves,jdbcType=VARCHAR},
		PIC = #{pic,jdbcType=VARCHAR}
		where ID =
		#{id,jdbcType=VARCHAR}
	</update>
</mapper>