<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanji.mall.loginLog.dao.LoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.sanji.mall.model.LoginLog" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="LOGIN_IP" property="loginIp" jdbcType="VARCHAR" />
    <result column="LOGIN_TIME" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="LOGIN_ADDR" property="loginAddr" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, LOGIN_IP, LOGIN_TIME, LOGIN_ADDR, USER_ID, USER_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SJ_TB_LOGIN_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SJ_TB_LOGIN_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sanji.mall.model.LoginLog" >
    insert into SJ_TB_LOGIN_LOG (ID, LOGIN_IP, LOGIN_TIME, 
      LOGIN_ADDR, USER_ID, USER_TYPE
      )
    values (#{id,jdbcType=VARCHAR}, #{loginIp,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{loginAddr,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userType,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanji.mall.model.LoginLog" >
    insert into SJ_TB_LOGIN_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="loginIp != null" >
        LOGIN_IP,
      </if>
      <if test="loginTime != null" >
        LOGIN_TIME,
      </if>
      <if test="loginAddr != null" >
        LOGIN_ADDR,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginAddr != null" >
        #{loginAddr,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanji.mall.model.LoginLog" >
    update SJ_TB_LOGIN_LOG
    <set >
      <if test="loginIp != null" >
        LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginAddr != null" >
        LOGIN_ADDR = #{loginAddr,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanji.mall.model.LoginLog" >
    update SJ_TB_LOGIN_LOG
    set LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      LOGIN_ADDR = #{loginAddr,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>